.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 40rem;
}

.home .content .hi {
  font-size: 2rem;
  color: var(--main-color);
}

.home .content h3 {
  font-size: 4.5rem;
  color: #111;
  text-transform: uppercase;
}

.home .content h3 span {
  font-size: 4.5rem;
  color: var(--main-color);
  text-transform: uppercase;
}

.home .content .info {
  font-size: 2.5rem;
  color: #111;
  padding: 0.5rem 0;
}
.home .content .info span {
  font-size: 2.5rem;
  color: var(--main-color);
}

.home .content .text {
  font-size: 1.7rem;
  color: #666;
  padding: 0.5rem 0;
}

.btn {
  display: inline-block;
  margin: 1rem;
  padding: 0.8rem 3rem;
  background-color: var(--main-color);
  font-size: 1.7rem;
  color: var(--white);
  cursor: pointer;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.btn:hover {
  background: #111;
  letter-spacing: 0.2rem;
}
